version: '3.8'
services:
  mongo:
    image: mongo:6.0
    container_name: registrar_mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  api:
    build: .
    container_name: registrar_api
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/registrar_db
    depends_on:
      - mongo

volumes:
  mongo_data:
    driver: local
